*{
    padding:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    background-color:rgba(128, 128, 128, 0.158);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    border-radius: 10px;
    display: flex;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;

}
.left{
    flex:0.5;
    background-image: url(./pexels-eberhard-grossgasteiger-2310713.jpg);
    background-size: cover, no repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px 40px 70px 40px;
    margin bottom: 20px;
    border-radius:10px 0px 0px 10px;
    }

h1{
    font-size: 50px;
    margin:0px 0px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

h2{
    font-size: 30px;
    margin: 20px 20px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1{
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    margin: 80px 150px;
    padding: 10px 60px;
}

.right{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px 60px;
    margin bottom: 0px;
    border-radius:0px 10px 10px 0px;

}

h3{
    font-size: 50px;
    font-weight: 600;
    padding: 0px;
    text-shadow: 0px;
}

h4{
   font-size: 15px; 
    font-weight: 100;
    padding-bottom: 0px;
    justify-content: center;
    align-self: center;
    margin-bottom: 20px;
}

input{
    display: block;
    margin-bottom: 20px;
    padding: 20px 120px;
    margin-left: 30px;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgba(128, 128, 128, 0.156);
    align-content: flex-end;
    
}

button2{
        cursor: pointer;
        padding: 10px 60px;
        background-color: rgb(147, 187, 227);
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        margin-top: 20px;
}